.singleNewsPageBg
	background: #D1D1D1
	height: 400px
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden


.singleNews
	&__ImgWrap
		display: flex
		justify-content: center
		align-items: center
		overflow: hidden
		height: 500px
		margin-top: -365px
		background-image: linear-gradient(to bottom,rgb(226, 226, 226) 0%,rgb(102, 105, 105) 100%)
	&__breadcrumbWrap
		margin-top: -120px
		padding: 30px 0 10px 30px
		margin-bottom: $margin1
		a,li
			color: #fff	
			font-size: 1.125rem
	&__title
		color: #fff	
		font-size: 1.875rem
		margin-bottom: 0
		line-height: 1.25
		font-weight: 300

	&__descTop
		margin-bottom: calc(#{$margin1} - 1rem)
		img
			display: block
			margin: $margin2 auto
			min-height: 200px
	&__press-miniature
		display: flex
		margin-bottom: $margin1
		transition: $trs-all
		&:hover
			box-shadow: $box-shdw
			transition: $trs-all
	&__link
		display: inline-block
		padding-right: 15px
		position: relative
		color: #999
		text-transform: uppercase
		letter-spacing: .02em
		font-size: 0.625rem
		&:before
			content: ''
			display: inline-block
			width: 8px
			height: 8px
			margin: 0
			border-bottom: 2px solid #BEBEBE
			border-right: 2px solid #BEBEBE
			position: absolute
			right: 0
			top: 50%
			margin-top: -8px
			transform: rotate(-45deg)
			transition: all 0.2s linear
		&:hover
			&:before
				transition: all 0.2s linear
				border-bottom: 2px solid #22AAF1
				border-right: 2px solid #22AAF1
				right: 3px
		a
			display: inline-block
			color: #999
			border-bottom: 1px dashed #999
			transition: all 0.2s linear
			&:hover
				text-decoration: none
				border-bottom-color: transparent
				transition: all 0.2s linear

	&__headline
		margin-bottom: $margin3
		font-weight: 400

.singleNews__bottom a
	&:hover
		text-decoration: none


.singleNews__img 
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden
	max-height: 200px
	max-width: 340px
	width: 100%
.singleNews__content
	max-height: 200px
	max-width: 310px
	width: 100%
	display: flex
	flex-wrap: wrap
	color: #727272
	border: 1px solid #BEBEBE
	border-left: 0
	margin: 0 
	padding: 15px 3%

.singleNews__titleNews
	font-size: 20px
	line-height: 1.125
	font-weight: 600
	color: #727272
	margin-bottom: 10px
	
.singleNews__info
	width: 100%
	text-transform: uppercase
	margin-top: auto
	font-size: 0.875rem
	color: #999
/* NEWS END */



@media only screen and (max-width : 1199px)

	.singleNews
		&__ImgWrap
			margin-top: $margin1-mob
		&__img
			max-width: 50%
		&__content
			max-width: 50%
		&__press-miniature
			max-width: 600px
			margin-left: auto
			margin-right: auto

	/**/


@media only screen and (max-width : 991px)
	.singleNewsPageBg
		height: 300px
	.singleNews__ImgWrap
		height: 320px
	.singleNews
		&__press-miniature
			max-width: 500px
			margin-left: auto
			margin-right: auto
		&__content
			padding: 10px 3%



@media only screen and (max-width : 767px)
	.singleNewsPage
		padding: 0 0 calc(#{$margin1-mob} - #{$margin2-mob})
		.p-sm-0
			padding: 0
	.singleNews__breadcrumbWrap
		margin: 0
		padding: 0
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: $margin3
		position: absolute
		bottom: 0
		width: 100%
		height: 100%
	.singleNewsPageBg
		height: 200px
	.singleNews
		&__title
			padding: 0 15px
			font-size: 1.5625rem
			font-weight: 400
			text-align: center

	.singleNews__press-miniature
		margin-bottom: $margin2-mob
	.singleNews__descTop
		margin: $margin3 0 calc(#{$margin1-mob} - 1rem)
	.singleNews__ImgWrap
		height: 230px
		margin-top: 0
		position: relative
		&::before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			background: #000
			opacity: 0.4
			z-index: 0
		img
			width: 100%
			height: 100%
			object-fit: cover
	.singleNews__breadcrumbWrap a,
	.singleNews__breadcrumbWrap li
		font-size: 14px


@media only screen and (max-width : 575px)

	.singleNews
		&__press-miniature
			max-width: 360px
			margin-bottom: $margin2
		&__link,
		&__info
			display: none

		&__img
			height: 120px
			img
				height: 120px
				max-width: none
		&__content
			height: 120px
			padding: 5px 3%
		&__titleNews
			font-size: 16px
			margin-bottom: 0
			line-height: 18px
			font-weight: 400
		&__headline
			font-size: 20px