.partners-page__content
	margin-bottom: $margin1

.to-partners
	padding-top: $margin1
	&__block
		margin-bottom: $margin1
	&__text
		margin: 0
		font-size: 1.125rem
		line-height: 1.45
		color: #727272









@media only screen and (max-width : 767px)

	.partners-page__content
		margin-bottom: $margin1-mob
	.to-partners
		padding-top: $margin1-mob
		&__block
			margin-bottom: $margin1-mob
		&__text
			font-size: 1rem

	/**/