.vacancies
	padding: $margin1 0

.vacancy
	&__descr
		padding-bottom: $margin2
		&:last-child
			padding-bottom: 0
	&__img
		margin-bottom: $margin2


@media only screen and (max-width : 1199px)

	.vacancy
		&__img
			margin-top: $margin2

	/**/

@media only screen and (max-width : 767px)

	.vacancies
		padding: $margin1-mob 0

	.vacancy
		&__descr
			padding-bottom: $margin2-mob
		&__img
			margin: $margin2-mob 0


	/**/