@import "vars"


@media only screen and (max-width : 1199px)


	/* ------------------------------------- 
		press
		------------------------------------- */
	.press
		&-miniature
			&__content
				margin: 0
				padding: 15px 10px
			&__title
				font-size: 1.125rem
			&__date, &__link
				font-size: 12px

	.btn-more
		font-size: 1.125rem



	/* ------------------------------------- 
		about
		------------------------------------- */
	.about
		&__item
			&-text
				padding-right: 0




	/* ------------------------------------- 
		clients
		------------------------------------- */
	.clients
		&-slider
			padding: 50px
		.slick-prev
			left: 0
		.slick-next
			right: 0



	/**/



@media only screen and (max-width : 991px)


	/* ------------------------------------- 
		press
		------------------------------------- */
	.press
		&-miniature
			border: 1px solid #BEBEBE
			&__content
				padding-top: 30px
				min-height: 1px
				border: none


	/**/



@media only screen and (max-width : 767px)


	/* ------------------------------------- 
		Common styles 
		------------------------------------- */
	.checkbox 
		.checkbox-wrap
			margin-top: 2px
		.checkbox-text
			font-size: 14px

	.breadcrumbs
		font-size: 0.875rem


	/* ----- titles ----- */
	.page-title 
		font-size: 1.5625rem
		text-align: center
	
	.page-subtitle
		margin-bottom: $margin2-mob
		font-size: 1.25rem
		&--centered--sm
			text-align: center

	.page-text
		font-size: 1rem
		line-height: 1.25


	/* ------------------------------------- 
		content 
		------------------------------------- */
	.content
		padding-top: 70px !important
	.page-banner
		padding: 4rem 0 4.7rem
	.main-page__title
		padding-right: 0




	/* ------------------------------------- 
		press
		------------------------------------- */
	.press
		padding: $margin1-mob 0 calc(#{$margin1-mob} - #{$margin2-mob})
		&-miniature
			margin-bottom: $margin2-mob
			&__content
				margin: 0

	.btn-more
		font-size: 1rem
	
	.press-page .press
		padding-bottom: $margin1-mob



	/* ------------------------------------- 
		about
		------------------------------------- */
	.about
		&__img
			margin: 0 auto
			width: 55px
			height: 55px
			padding: 10px
		&__text-icon
			font-size: 24px
		&__item
			margin-bottom: 25px
		&__item-text
			margin-top: 15px
			padding-left: 0
			text-align: center
			overflow: hidden
			text-overflow: ellipsis




	/* ------------------------------------- 
		content-block
		------------------------------------- */
	.content-block
		padding: $margin1-mob 0




	/* ------------------------------------- 
		clients
		------------------------------------- */
	.clients
		margin-bottom: $margin1-mob
		&-slider
			padding: 10px

		.slick-prev, .slick-next
			width: 20px
			height: 20px

	/**/