@import "vars"


@media only screen and (max-width : 1199px)


	/* ------------------------------------- 
		press
		------------------------------------- */
	.press
		&-miniature
			&__content
				margin: 0
				padding: 15px 10px
			&__title
				font-size: 18px
			&__date, &__link
				font-size: 12px



	/* ------------------------------------- 
		about
		------------------------------------- */
	.about
		&__item
			&-text
				padding-right: 0




	/* ------------------------------------- 
		clients
		------------------------------------- */
	.clients
		&-slider
			padding: 50px
		.slick-prev
			left: 0
		.slick-next
			right: 0



	/**/



@media only screen and (max-width : 991px)


	/* ------------------------------------- 
		categories 
		------------------------------------- */
	.categories
		&__name
			font-size: 20px
		&__img
			max-width: 190px
		&__link
			padding-right: 15px
			font-size: 18px
		&__list
			font-size: 1rem

	.page-categories__block
		.categories__name
			padding-right: 20%




	/* ------------------------------------- 
		press
		------------------------------------- */
	.press
		&-miniature
			border: 1px solid #BEBEBE
			&__content
				padding-top: 30px
				min-height: 1px
				border: none



	/**/



@media only screen and (max-width : 767px)


	/* ------------------------------------- 
		Common styles 
		------------------------------------- */
	.checkbox 
		.checkbox-wrap
			margin-top: 2px
		.checkbox-text
			font-size: 14px

	.breadcrumbs
		font-size: 0.875rem


	/* ----- titles ----- */
	.page-title 
		font-size: 1.5625rem
		text-align: center
	
	.page-subtitle
		font-size: 1.25rem
		text-align: center



	/* ------------------------------------- 
		content 
		------------------------------------- */
	.content
		padding-top: 70px !important
	.page-banner
		padding: 3rem 0 3.5rem
	.main-page__title
		padding-right: 0



	/* ------------------------------------- 
		categories 
		------------------------------------- */
	.categories
		padding: $margin1-mob 0 calc(#{$margin1-mob} - 20px)
		&__item
			height: 180px
			margin-bottom: 20px
		&__name
			width: 100%
			font-size: 18px
		&__img
			max-width: 160px
		&__link
			padding-right: 15px
			font-size: 16px
			&::before
				width: 8px
				height: 8px
				margin-top: -4px
				
	.page-categories__block
		.categories__link
			display: block
		.categories__list
			display: none


	/* ------------------------------------- 
		press
		------------------------------------- */
	.press
		&-miniature
			&__content
				margin: 0




	/* ------------------------------------- 
		about
		------------------------------------- */
	.about
		&__img
			margin: 0 auto
			width: 55px
			height: 55px
			padding: 10px
		&__text-icon
			font-size: 24px
		&__item-text
			margin-top: 20px
			padding-left: 0
			text-align: center
			overflow: hidden
			text-overflow: ellipsis



	/* ------------------------------------- 
		clients
		------------------------------------- */
	.clients
		&-slider
			padding: 10px

		.slick-prev, .slick-next
			width: 20px
			height: 20px



	/**/